@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
    color: hsl(0, 0%, 7%);
    border: none;
}

html{
    font-weight: 400;
    background-color: hsl(47, 88%, 63%);
    width: 100vw;
}

body{
    width: 100vw;
    max-width: 1440px;
    min-height: 100vh;
}

/* Card */
.card_profile{
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    max-width: 50vh;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid hsl(0, 0%, 7%);;
    box-shadow: 10px 10px black;
}
.card_profile>*{
    margin-bottom: 20px;
    line-height: 1.5rem;
}

/* image principale */
.main_image{
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
}
.main_image img{
    width: 100%;
    border-radius: 1rem;
}

/* Button */
button{
    background-color: hsl(47, 88%, 63%);
    width: 6.5rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
}

h1, .bottom_profile, button{
    font-weight: 800;
}
/* Mini Profile */
.bottom_profile{
    display: flex;
    max-height: 50px;
    align-items: center;
    gap: 1rem;
}
.bottom_profile img{
    width: 10%;
    height: 10%;
    object-fit: contain;
}